  <div class="title">
    <!-- <h1>Yoga</h1> -->
    <p class="quote">"Człowiek nie jest duszą używającą ciała, lecz kompozycją duszy i ciała."</p>
  </div>
  <section>
    <img src="./../../../assets/images/yoga_nature.jpg" alt="yoga-nature">
    <div class="yogi">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis iure recusandae eligendi quaerat enim ducimus
        itaque exercitationem beatae dolor nostrum, quae amet ut et quam tempore voluptatum quos voluptate? Eveniet.</p>
    </div>
  </section>
