<div class="home d-flex">
  <img src="./../../../assets/images/Aleksandra_Grabowska.jpg" alt="">
  <div class="info flex-fill">
    <div class="title">Let it grow Yoga</div>
    <div class="about">
      <div class="name">Aleksandra Grabowska</div>
      <div class="whoami">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat tenetur iusto consectetur
        quaerat quas, quisquam labore qui atque pariatur illo tempora! Laborum repudiandae, quidem veritatis sequi
        unde quae tenetur ipsa.
        Nisi dolore recusandae quidem sint, ipsum molestias exercitationem eligendi velit ipsam atque aut, sequi
        tenetur culpa. Totam nesciunt blanditiis, eveniet optio ducimus dicta sunt aut quos odit animi dolor ex?
        Porro ullam necessitatibus, mollitia earum quaerat consequatur fugit temporibus vero tenetur doloremque
        corporis eius reiciendis impedit tempora praesentium quis rerum quo voluptas id accusamus doloribus error
        quibusdam? Consequatur, molestiae aspernatur.
        Vero harum inventore minus labore, ducimus debitis est suscipit ea unde nihil, illo modi a id dolore eaque
        necessitatibus dolor qui quibusdam iusto? Iure harum obcaecati, laborum eveniet maxime delectus.</div>
    </div>
    <div class="menu">
      <a [routerLink]="['/home']" routerLinkActive="router-link-active">
        <button>
          Learn more...
        </button>
      </a>
    </div>
    <div class="social">
      <a href="https://www.facebook.com/letitgrowyoga">
        <fa-icon [icon]="faFacebook" size="3x"></fa-icon>
      </a>
      <a href="https://www.instagram.com/let_it_grow_yoga/">
        <fa-icon [icon]="faInstagram" size="3x"></fa-icon>
      </a>
    </div>
  </div>
</div>
